---
import { getApi } from "@/bknd.ts";
import Layout from "@/layouts/Layout.astro";
import SkateboardDesigner from "@/components/SkateboardDesigner.astro";

const api = await getApi(Astro.request.headers, { verify: true, mode: "dynamic" });

const { data } = await api.data.readMany("posts");
const user = api.getUser();
---

<Layout title="Board Co Supply Deck Designer ">
  <section class="mx-auto flex max-w-xl flex-col gap-4 p-6">
    <SkateboardDesigner />
  </section>
</Layout>
