---
import { actions } from "astro:actions";
import { type Orders } from "@/bknd-types";
import Logo from "@/components/Logo.astro";
import Layout from "@/layouts/Layout.astro";

const orderId = Number(Astro.url.searchParams.get("order_id") || "0");
const stripeSessionId = Astro.url.searchParams.get("session_id") || "";

let order = null as Orders | null;
if (orderId && stripeSessionId) {
  const { data, error: _error } = await Astro.callAction(actions.bknd.attachStripeSessionIdToOrder, {
    orderId,
    stripeSessionId
  });

  if (data?.order) {
    order = data.order;
  }
}
---

<Layout title="Success">
  {
    order && order?.id ? (
      <section class="mx-auto flex max-w-xl flex-col gap-4 p-6">
        <a href="https://boardcosupply.com/" target="_blank">
          <Logo class="max-h-[96px]" />
        </a>
        <h1 class="text-2xl font-bold">Congrats!</h1>
        <p class="text-lg">
          Your custom skateboard deck order has been placed. Check your email for the order receipt.
        </p>
        <div>
          Order Id: <span class="bg-secondary block rounded-lg px-2 py-1 !select-all">{order.id}</span>
        </div>
        <a href="https://boardcosupply.com/" target="_blank" class="btn">
          Visit Board Co Supply
        </a>
        <a href="/" class="btn-secondary">
          Back to the Deck Designer
        </a>
      </section>
    ) : (
      <section class="mx-auto flex max-w-xl flex-col gap-4 p-6">
        <a href="https://boardcosupply.com/" target="_blank">
          <Logo class="max-h-[96px]" />
        </a>
        <h1 class="text-2xl font-bold">Whoops...</h1>
        <p>Something went wrong with your order.</p>
        <p>Please contact Board Co Supply at (214) 906-1130</p>
        <a href="/" class="btn-secondary">
          Back to the Deck Designer
        </a>
      </section>
    )
  }
</Layout>
